node_modules/
.turbo/
dist/
.output/
.vinxi/
.nitro/
.DS_Store
.env
.env.local
.env.*.local
.dev.vars
.dev.vars.local
*.log

# contracts
artifacts/
cache/
coverage/
coverage.json
types/
fhevmTemp/
typechain-types/
